.circle_red {
  color: #c83737;
}

.circle_green {
  color: #88aa00;
}

.circle_blue {
  color: #0088aa;
}

.circle_yellow {
  color: #ffd42a;
}

.circle_orange {
  color: #ff6600;
}

.circle_violet {
  color: #8d5fd3;
}